.container {
  font-family: 'Poppins', sans-serif;
}

#product-type {
  padding-left: 1rem;
}

#rating {
  padding-left: 1rem;
}

.dropdown-menu {
  padding-left: 1rem;
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

img {
  width: 99.5%;
  padding-bottom: 1rem;
}

.banner-title {
  position: absolute;
  top: 14%;
  left: 17%;
  color: black;
}
