<div ngbDropdown class="d-inline-block" id="price-range">
  <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Price Range</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <input type="checkbox" name="ten" value="true" /> $0 - $10
    <br>
    <input type="checkbox" name="twenty" value="true" /> $10 - $20
    <br>
    <input type="checkbox" name="thirty" value="true" /> $20 - $30
    <br>
    <input type="checkbox" name="fourty" value="true" /> $30 - $40
    <br>
    <input type="checkbox" name="fifty" value="true" /> $40 - $50
    <br>
    <input type="checkbox" name="above" value="true" /> $50 & above
  </div>
</div>

<div ngbDropdown class="d-inline-block" id="product-type">
  <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Product Type</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <input type="checkbox" name="blush" value="true" /> Blush
    <br>
    <input type="checkbox" name="foundation" value="true" />Foundation
    <br>
    <input type="checkbox" name="lip-liner" value="true" /> Lip Liner
    <br>
    <input type="checkbox" name="eye-shadow" value="true" /> Eye Shadow
    <br>
    <input type="checkbox" name="eye-liner" value="true" /> Eye Liner
    <br>
    <input type="checkbox" name="lipstick" value="true" /> Lipstick
  </div>
</div>

<div ngbDropdown class="d-inline-block" id="rating">
  <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Rating</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <input type="checkbox" name="one" value="true" /> 0 - 1
    <br>
    <input type="checkbox" name="two" value="true" />1 - 2
    <br>
    <input type="checkbox" name="three" value="true" /> 2 - 3
    <br>
    <input type="checkbox" name="four" value="true" /> 3 - 4
    <br>
    <input type="checkbox" name="five" value="true" /> 4 - 5
  </div>
</div>
