<!-- Template for product card -->
<div class="card">
  <img class="image" width="50%" height="300" [src]="product.image_link" />
  <div class="card-body">
    <div class="card-name"><b>{{product.name}}</b></div>
    <ng-template #t let-fill="fill">
      <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
    </ng-template>
    <ngb-rating [(rate)]="product.rating" [starTemplate]="t"></ngb-rating>
    <div class="card-price">Price: ${{product.price}}</div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button class="btn btn-med btn-primary" (click)="open()">View More</button>
      </div>
    </div>
  </div>
</div>
