<!-- Template for product card -->
<div class="card">
  <img class="image" width="50%" height="300" [src]="product.image_link" />
  <div class="card-body">
    <div class="card-name"><b><u>{{product.name}}</u></b></div>
    <div class="card-rate">{{product.rating}}&#11088;</div>
    <div class="card-price">Price: ${{product.price}}</div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button class="btn btn-med btn-primary" (click)="open()">View More</button>
      </div>
    </div>
  </div>
</div>
