.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.modal-name {
  font-size: 34px;
}

.modal-whole {
  font-family: 'Poppins', sans-serif;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: gold;

}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

.btn-primary {
  background-color: black;
  border-color: black;
  width: 100%;
}

p {
  position: absolute;
  margin: -33px 0 0 140px;
  opacity: 80%;
}

.desc {
  padding-top: 6rem;
}
